@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My First Page</h1>
    <p>Visit My Website <a href="https://syed-intekhab.github.io/Projects" target="_blank">Portfolio</a>.</p>
</div>